@font-face {
    src: url("./assets/fonts/PJSM.ttf");
    font-family: PJSM;
}

.welcome {
    font-size: 70px;
    color: rgb(225, 203, 113);
    font-weight: 700;
}

.sub-header{
    font-size: 40px; 
    font-weight: 600;
    color: rgb(225, 203, 113);
    text-align: center;
    padding-bottom: 10px;

}

.button {
    background-color: rgb(135, 113, 225) ;
    border: none;
    color:rgb(66, 58, 96);
    font-weight: 600;
}

.button:hover {
    background-color: rgb(225, 203, 113) ;
    border: none;
    color:rgb(96, 89, 58);
}

.button:active {
    background-color: rgb(225, 203, 113) ;
    border: none;
    color:rgb(96, 89, 58);
}