/* Landing Page Code */

* {
    font-family: Lobster;
}
  
:root {
    --black: black;
    --green: #02753c;
    --purple: #630150;
    --grey: #242625;
    --white: --white
}


/* Code to display modal on and off  */
.display {
    display: block;
}

.noDisplay {
    display: none;
}

.m-title {
    font-family: 'Roboto Slab', serif;
    
}
.modal {
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -150px;
    margin-top: -150px;
}

.continue-btn {
    width: 200px;
    background-color: #fdbf02;
    color: #626567;
    border-color: #626567;
    margin-left: 400px;
    position: relative;

}



/* Main Page Code */

@font-face {
    src: url("./assets/fonts/PJSM.ttf");
    font-family: PJSM;
}


.welcome {
    font-size: 60px;
    color: rgb(225, 203, 113);
    font-weight: 700;
}

.lt-text {
    color: rgb(135, 113, 225) ;
    font-size: 65px;
    font-style: italic;
    font-weight: 700;
    
}

.sub-header{
    font-size: 40px; 
    font-weight: 600;
    color: rgb(225, 203, 113);
    text-align: center;
    padding-bottom: 10px;

}

.button-icon {
    font-weight: 600;
}

.button {
    background-color: rgb(135, 113, 225) ;
    border: none;
    color:rgb(66, 58, 96);
    font-weight: 600;
}

.button:hover {
    background-color: rgb(225, 203, 113) ;
    border: none;
    color:rgb(96, 89, 58);
}

.btn1 {
    background-color: rgb(225, 203, 113) ;
    border: none;
    color:rgb(96, 89, 58);
   
}

.btn1:hover {
    background-color: rgb(135, 113, 225) ;
    border: none;
    color:rgb(66, 58, 96);
    font-weight: 600;
}

.button:active {
    background-color: rgb(225, 203, 113) ;
    border: none;
    color:rgb(96, 89, 58);
}

.btn1:active {
    background-color: rgb(135, 113, 225) ;
    border: none;
    color:rgb(66, 58, 96);
    font-weight: 600;
}

.lt-footer {
    font-style: italic;
}


/* Search Bar & Button */ 
.search-input {
    display: flex;
    display: center;
    background: white;
    justify-content: center;
    height: 40px;
    width: 150px;
    border-radius: 5px;
}

.searchbtn {
    background-color: rgb(225, 203, 113) ;
    border: none;
    color:rgb(96, 89, 58);
   
}

.searchbtn:hover {
    background-color: rgb(135, 113, 225) ;
    border: none;
    color:rgb(66, 58, 96);
    font-weight: 600;
}

/* Gallery & Images */ 

.gallery {
    width: 80%;
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: repeat(2, 63%);
}

img {
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    cursor: pointer;
    display: center;
}
