@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Roboto+Slab&display=swap');



.display {
    display: block;
}

.title {
    font-family: 'Roboto Slab', serif;
    
}
.modal {
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -150px;
    margin-top: -150px;
 }
/* button options and input bar */
.input-bar {
    margin-bottom: 10px;
    color: #fdbf02;
    border-color: #fdbf02;
}

.button {
    color: #fdbf02;
    border-color: #fdbf02;
}

.button:hover {
    color: #e0aa03;
    border-color: #e0aa03;
}

.button:active {
    background-color:#fdbf02;
    color : #626567;
    box-shadow: #fdbf02;
}


.continue-btn {
    width: 200px;
    background-color: #fdbf02;
    color: #626567;
    border-color: #626567;
    margin-left: 400px;
    position: relative;

}

.continue-btn:hover {
    color:#3d3d3d;
    border-color: #3d3d3d;
    background-color: #e0aa03;
    
}

.continue-btn:active {
    background-color:#fdbf02;
    color : #626567;
    box-shadow: #fdbf02;
}